<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Kraken Post teammates</title>
    <script>
      function changeSelection() {
        alldivs = document.getElementsByTagName('div')
        for (var i = 0; i < alldivs.length; i++) {
          alldivs[i].style.display = 'none'
        }
        selected = document.getElementById('select').value
        document.getElementById(selected).style.display='flex'
      }
    </script>
    <style>
      #select { font-size: 1em; }
      th { text-align: left; }
      table { border-collapse: collapse; }
      .checkbox { font-size: 1.5em; width: 1.5em; }
      body {
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .table-div { width: 50%; }
      @media screen {
        tr:nth-child(4n), tr:nth-child(4n+1) { background-color: aliceblue; }
        tr:nth-child(4n+2), tr:nth-child(4n+3) { background-color: #deefff; }
      }

      .table-div {
        display: none;
        flex-direction : column;
      }

      td.details {
        font-size: smaller;
        padding-left: 5em;
        padding-bottom: 2ex;
        padding-top: 0;
      }
      @media screen 
        and (max-device-width: 500px) 
        and (-webkit-min-device-pixel-ratio: 1) { 
        .table-div, #select {
          width: 100%;
        }
      }
      @media print {
        h1 {
          display: none;
        }
        .table-div {
          width: 100%;
        }
        tr:nth-child(2n) {
          border-top: 2px solid black;
        }
        td:last-child {
          width: 100%;
        }
        th, td:nth-child(2) {
          white-space: nowrap;
          padding-right: 23px;
        }
      }
    </style>
  </head>
  <body>
    Note: this information is accurate as of February, 2025. The most
    up-to-date information will be on the door of stateroom 1014 during
    sailing.
    <h1>Teammates for
      <select id="select" onchange="changeSelection()">
        <option value="">Select a JoCoNaut 🎸</option>
        {% for name in teammates | sort -%}
        <option value="{{ name | toid }}">{{name}}</option>
        {% endfor %}
      </select>
    </h1>
    {% for name, mates in teammates.items() %}
      <div id="{{ name | toid }}" class="table-div">
        <table>
          <colgroup>
            <col class="checkbox">
            <col class="cabin">
            <col class="preferred_name">
            <col class="teamname">
          </colgroup>
          <tr>
            <th></th>
            <th>Cabin</th>
            <th>Preferred name</th>
            <th>Team name</th>
          </tr>
          {% for team, name, preferred, cabin, boat_section, considerations in mates -%}
          <tr>
            <td class="checkbox">☐</td>
            <td>{{cabin}} ({{boat_section}})</td>
            <td>{{preferred}}</td>
            <td>{{team}}</td>
          </tr>
          <tr>
            <td colspan=4 class="details">
              <b>Full name:</b> {{name}}<br>
              <b>Special considerations:</b> {{considerations}}
            </td>
          </tr>
          {% endfor -%}
        </table>
      </div>
    {% endfor %}
  </body>
</html>

